<%- include('partials/header.ejs') -%>

    <body>
        <div class="container" style="text-align: center">
            <div id="chart_pm25"></div>
            <p id="date"></p>
            <h1>
                <status>
                    <%= status %>
                </status>
            </h1>
            <h1 style="margin-bottom: 30px;">
                <%= pm2_5 %> µg/m<sup>3</sup>
            </h1>

            <div id="chart_big"></div>
        </div>
    </body>

    </html>

    <%- include('partials/footer.ejs') -%>
        <%- include('partials/chart_pm25.ejs') -%>
            <%- include('partials/chart_big.ejs') -%>
                <%- include('partials/datetime.ejs') -%>